@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #54a6c9;
  --green: #79c954;
  --purple: #9554c9;
  --red: #c95454;
  --yellow: #c9af54;
  --gray: rgb(148, 149, 150);
  --darkGray: rgb(76, 76, 76);
}

html,
#App {
  @apply h-[100vh] w-[100vw] bg-white;
}

html {
  background-color: white;
  color: black;
  overflow: hidden;
}

.svgfill {
  color: var(--text);
}

.textStroke {
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}
